html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

#lcd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

#fps-counter {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 11px;
  z-index: 2;
}
